In [2]:
import sys
sys.version

'3.4.5 |Continuum Analytics, Inc.| (default, Jul  5 2016, 14:53:07) [MSC v.1600 64 bit (AMD64)]'

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Datasets/tutorial.csv")
df.tail()

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [5]:
df.describe()

           col0      col1      col2      col3
count  4.000000  4.000000  4.000000  4.000000
mean  -0.047068 -0.550656  0.409203 -0.447672
std    1.029715  0.701720  0.723956  1.300815
min   -1.062870 -1.330682 -0.238536 -1.649853
25%   -0.807875 -0.880830 -0.143055 -1.475916
50%   -0.142899 -0.617291  0.283070 -0.592780
75%    0.617907 -0.287118  0.835328  0.435464
max    1.160396  0.362640  1.309208  1.044722

In [6]:
df.columns

Index(['col0', 'col1', 'col2', 'col3'], dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
df.dtypes

col0    float64
col1    float64
col2    float64
col3    float64
dtype: object

In [9]:
df=pd.read_csv("Datasets/direct_marketing.csv")
df

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
5,6,2) $100 - $200,134.83,0,1,Surburban,0,Phone,Womens E-Mail,1,0,0.0,1
6,9,3) $200 - $350,280.20,1,0,Surburban,1,Phone,Womens E-Mail,0,0,0.0,4
7,9,1) $0 - $100,46.42,0,1,Urban,0,Phone,Womens E-Mail,0,0,0.0,1
8,9,5) $500 - $750,675.07,1,1,Rural,1,Phone,Mens E-Mail,0,0,0.0,5
9,10,1) $0 - $100,32.84,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
10,7,5) $500 - $750,548.91,0,1,Urban,1,Phone,Womens E-Mail,1,0,0.0,1
11,1,3) $200 - $350,211.45,0,1,Urban,1,Phone,Womens E-Mail,0,0,0.0,1
12,5,5) $500 - $750,642.90,0,1,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,1
13,2,2) $100 - $200,101.64,0,1,Urban,0,Web,Mens E-Mail,1,0,0.0,3
14,4,3) $200 - $350,241.42,0,1,Rural,1,Multichannel,No E-Mail,0,0,0.0,5
15,3,1) $0 - $100,58.13,1,0,Urban,1,Web,No E-Mail,1,0,0.0,6
16,5,1) $0 - $100,29.99,1,0,Surburban,0,Phone,Mens E-Mail,0,0,0.0,2
17,9,2) $100 - $200,112.35,1,0,Rural,0,Web,Mens E-Mail,0,0,0.0,2
18,11,3) $200 - $350,219.04,1,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,5
19,5,"6) $750 - $1,000",828.42,1,0,Surburban,1,Multichannel,Mens E-Mail,0,0,0.0,2
20,9,1) $0 - $100,29.99,0,1,Surburban,1,Phone,No E-Mail,0,0,0.0,5
21,11,2) $100 - $200,182.32,1,0,Surburban,0,Phone,Mens E-Mail,0,0,0.0,2
22,2,2) $100 - $200,118.40,1,0,Surburban,0,Web,Mens E-Mail,1,0,0.0,2
23,2,1) $0 - $100,29.99,0,1,Urban,1,Phone,No E-Mail,0,0,0.0,5
24,4,1) $0 - $100,78.24,1,0,Surburban,0,Web,No E-Mail,0,0,0.0,6
25,6,2) $100 - $200,139.87,0,1,Rural,1,Web,Mens E-Mail,0,0,0.0,3
26,12,2) $100 - $200,115.39,0,1,Surburban,0,Phone,Mens E-Mail,1,0,0.0,3
27,6,2) $100 - $200,162.98,0,1,Surburban,0,Web,Mens E-Mail,0,0,0.0,3
28,7,4) $350 - $500,435.73,0,1,Urban,1,Web,No E-Mail,0,0,0.0,5
29,2,3) $200 - $350,203.35,1,0,Rural,0,Web,No E-Mail,0,0,0.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63970,4,2) $100 - $200,191.15,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
63971,5,5) $500 - $750,549.87,0,1,Surburban,1,Phone,Womens E-Mail,0,0,0.0,1
63972,3,5) $500 - $750,554.97,0,1,Surburban,1,Web,No E-Mail,0,0,0.0,5
63973,8,4) $350 - $500,471.80,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,4
63974,8,1) $0 - $100,73.65,0,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,3
63975,10,"6) $750 - $1,000",883.92,1,0,Urban,1,Phone,No E-Mail,0,0,0.0,6
63976,1,5) $500 - $750,710.72,1,1,Urban,1,Phone,No E-Mail,0,0,0.0,11
63977,8,1) $0 - $100,29.99,0,1,Surburban,0,Web,No E-Mail,1,0,0.0,5
63978,10,2) $100 - $200,102.01,0,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,3
63979,10,2) $100 - $200,168.21,0,1,Surburban,0,Phone,No E-Mail,0,0,0.0,5
63980,3,4) $350 - $500,487.10,0,1,Surburban,1,Phone,No E-Mail,0,0,0.0,5
63981,4,2) $100 - $200,125.53,0,1,Rural,1,Phone,No E-Mail,0,0,0.0,5
63982,5,1) $0 - $100,29.99,1,0,Urban,1,Phone,Mens E-Mail,0,0,0.0,2
63983,2,1) $0 - $100,83.03,0,1,Urban,0,Phone,No E-Mail,0,0,0.0,5
63984,2,3) $200 - $350,209.51,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
63985,9,1) $0 - $100,29.99,1,0,Urban,0,Phone,Mens E-Mail,1,0,0.0,2
63986,9,1) $0 - $100,35.26,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
63987,1,1) $0 - $100,79.70,1,0,Surburban,1,Web,No E-Mail,0,0,0.0,6
63988,6,1) $0 - $100,32.98,1,0,Surburban,0,Web,Mens E-Mail,0,0,0.0,2
63989,10,3) $200 - $350,304.30,1,1,Surburban,0,Web,Womens E-Mail,1,0,0.0,5
63990,6,1) $0 - $100,80.02,0,1,Surburban,0,Phone,No E-Mail,0,0,0.0,5
63991,1,3) $200 - $350,306.10,1,0,Surburban,1,Phone,Womens E-Mail,0,0,0.0,4
63992,1,5) $500 - $750,519.69,1,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,5
63993,4,4) $350 - $500,374.07,0,1,Surburban,0,Phone,Womens E-Mail,0,0,0.0,1
63994,7,1) $0 - $100,86.46,0,1,Urban,0,Web,Mens E-Mail,0,0,0.0,3
63995,10,2) $100 - $200,105.54,1,0,Urban,0,Web,Mens E-Mail,0,0,0.0,2
63996,5,1) $0 - $100,38.91,0,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,3
63997,6,1) $0 - $100,29.99,1,0,Urban,1,Phone,Mens E-Mail,0,0,0.0,2
63998,1,5) $500 - $750,552.94,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,4
63999,1,4) $350 - $500,472.82,0,1,Surburban,0,Web,Mens E-Mail,0,0,0.0,3

In [11]:
df.recency

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, dtype: int64

In [12]:
df['recency']

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, dtype: int64

In [13]:
df[['recency']]

       recency
0           10
1            6
2            7
3            9
4            2
5            6
6            9
7            9
8            9
9           10
10           7
11           1
12           5
13           2
14           4
15           3
16           5
17           9
18          11
19           5
20           9
21          11
22           2
23           2
24           4
25           6
26          12
27           6
28           7
29           2
...        ...
63970        4
63971        5
63972        3
63973        8
63974        8
63975       10
63976        1
63977        8
63978       10
63979       10
63980        3
63981        4
63982        5
63983        2
63984        2
63985        9
63986        9
63987        1
63988        6
63989       10
63990        6
63991        1
63992        1
63993        4
63994        7
63995       10
63996        5
63997        6
63998        1
63999        1

[64000 rows x 1 columns]

In [20]:
df.loc[:,'recency'] #loc for slicing using labels, single label returns a series

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, dtype: int64

In [21]:
df.loc[:,['recency']]# loc for indexing usign labels, a list for column labels returns a dataframe

       recency
0           10
1            6
2            7
3            9
4            2
5            6
6            9
7            9
8            9
9           10
10           7
11           1
12           5
13           2
14           4
15           3
16           5
17           9
18          11
19           5
20           9
21          11
22           2
23           2
24           4
25           6
26          12
27           6
28           7
29           2
...        ...
63970        4
63971        5
63972        3
63973        8
63974        8
63975       10
63976        1
63977        8
63978       10
63979       10
63980        3
63981        4
63982        5
63983        2
63984        2
63985        9
63986        9
63987        1
63988        6
63989       10
63990        6
63991        1
63992        1
63993        4
63994        7
63995       10
63996        5
63997        6
63998        1
63999        1

[64000 rows x 1 columns]

In [22]:
df.iloc[:,0] # iloc for slicing based on index

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, dtype: int64

In [23]:
df.iloc[:,[0]]

       recency
0           10
1            6
2            7
3            9
4            2
5            6
6            9
7            9
8            9
9           10
10           7
11           1
12           5
13           2
14           4
15           3
16           5
17           9
18          11
19           5
20           9
21          11
22           2
23           2
24           4
25           6
26          12
27           6
28           7
29           2
...        ...
63970        4
63971        5
63972        3
63973        8
63974        8
63975       10
63976        1
63977        8
63978       10
63979       10
63980        3
63981        4
63982        5
63983        2
63984        2
63985        9
63986        9
63987        1
63988        6
63989       10
63990        6
63991        1
63992        1
63993        4
63994        7
63995       10
63996        5
63997        6
63998        1
63999        1

[64000 rows x 1 columns]

In [24]:
df.ix[:,0] # slicing using a hybrid of loc and iloc (labels and indices)

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, dtype: int64

In [27]:
print(df.loc[0:1,"recency"]) # inclusive
print(df.ix[0:1,0]) #inclusive
print(df.iloc[0:1,0]) #exclusive

0    10
1     6
Name: recency, dtype: int64
0    10
1     6
Name: recency, dtype: int64
0    10
Name: recency, dtype: int64

In [31]:
(df.recency<7).head()

0    False
1     True
2    False
3    False
4     True
Name: recency, dtype: bool

In [33]:
df[df.recency < 7].head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
5,6,2) $100 - $200,134.83,0,1,Surburban,0,Phone,Womens E-Mail,1,0,0.0,1
11,1,3) $200 - $350,211.45,0,1,Urban,1,Phone,Womens E-Mail,0,0,0.0,1
12,5,5) $500 - $750,642.90,0,1,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,1

In [39]:
df[(df.recency <7) | (df.newbie == 0)].head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
5,6,2) $100 - $200,134.83,0,1,Surburban,0,Phone,Womens E-Mail,1,0,0.0,1
7,9,1) $0 - $100,46.42,0,1,Urban,0,Phone,Womens E-Mail,0,0,0.0,1

In [40]:
#writing to a slice
df[df.recency <7] = -100
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100

In [41]:
df.dtypes

recency              int64
history_segment     object
history            float64
mens                 int64
womens               int64
zip_code            object
newbie               int64
channel             object
segment             object
visit                int64
conversion           int64
spend              float64
DM_category          int64
dtype: object

In [56]:
#ordinal categorical data
income_ordered = ['a','b','c','d','e']
df = pd.DataFrame({'income':['a','e','c','a','e', 'niegevonde']})

In [57]:
df

       income
0           a
1           e
2           c
3           a
4           e
5  niegevonde

In [58]:
df.income = df.income.astype('category',ordered = True, categories = income_ordered).cat.codes

In [59]:
df

   income
0       0
1       4
2       2
3       0
4       4
5      -1

In [66]:
#nominal categorical data: mapping entries to ints (alhphabetically)
df = pd.DataFrame({'income':['a','e','c','a','e', 'niegevonde']})

In [67]:
df.income = df.income.astype('category').cat.codes

In [68]:
df

   income
0       0
1       2
2       1
3       0
4       2
5       3

In [73]:
# other approach for nominal categorical features: dummy variables
df = pd.DataFrame({'income':['a','e','c','a','e', 'niegevonde']})

In [74]:
df = pd.get_dummies(df,columns = ['income'])

In [75]:
df

   income_a  income_c  income_e  income_niegevonde
0       1.0       0.0       0.0                0.0
1       0.0       0.0       1.0                0.0
2       0.0       1.0       0.0                0.0
3       1.0       0.0       0.0                0.0
4       0.0       0.0       1.0                0.0
5       0.0       0.0       0.0                1.0

THe SciKitLearn Coutn vectorizer is a very usefull library for feature representation of textual data. It allows to count words or characters, can be configured to ignore most common words and can also be fed your own tokenisation functions

In [88]:
# Feature representation of textual data using the SciKit Learn CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
corpus = ['Authman ran faster than Harry because he is an athlete.',
         'Authman and Harry ran faster and faster.']
bow = CountVectorizer()
X = bow.fit_transform(corpus) #Sparse Matrix, compact memory representation
print(bow.get_feature_names())
print(X.toarray())

['an', 'and', 'athlete', 'authman', 'because', 'faster', 'harry', 'he', 'is', 'ran', 'than']
[[1 0 1 1 1 1 1 1 1 1 1]
 [0 2 0 1 0 2 1 0 0 1 0]]

Featurizing an image. Reading in all pixels as a 1d array

In [112]:
from scipy import misc
img = misc.imread('image.png')
print(type(img))
print(img.shape, img.dtype)
#shrink the image by only displaying evey second pixel
img = img[::2,::2]
misc.toimage(img, 'test.png')
#scale the colors form 0 -225 to 0-1
#reshape to 1d array
img = (img/255).reshape(-1,3) #-1 indicates undefined and in this casa thus makes a a logn list of the firs 3 dims, use ravel()as alternative
red = img[:,0]
green = img[:,1]
blue = img[:,2]
#grayscale: luminance formulae is slihtly differnt than a straigh average,
#since we perceice different color wavelengrhs as having different brighnesses 
gray = (0.299*red+0.587*green+0.114*blue)
print(img.shape)
print(gray.shape)

<class 'numpy.ndarray'>
(667, 1000, 3) uint8
(167000, 3)
(167000,)

In [ ]:
# to do this for an entire folder of images you can use code liek htis
dset = []
for fname in files:
  img = misc.imread(fname)
  dset.append(  (img[::2, ::2] / 255.0).reshape(-1)  )

dset = pd.DataFrame( dset )

Encoding audio files using SciPy

In [114]:
import scipy.io.wavfile as wavfile
sample_rate, audio_data = wavfile.read('sound.wav')
print(audio_data)
sample_rate

[[-14 -13]
 [-21 -20]
 [-30 -31]
 ...,
 [  3   5]
 [  3   5]
 [  3   4]]

44100

Wrangling the data

How to deal with missing values

In [117]:
import numpy as np
np.nan == np.nan

False

In [118]:
None == None

True

In [119]:
None == np.nan

False

In [120]:
df = pd.read_csv('Datasets/direct_marketing.csv')

In [122]:
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

In [130]:
df.channel.isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: channel, dtype: bool

In [131]:
df.notnull().head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True

Fill all missing values with 0

In [132]:
df.fillna(0).head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

Use forward fill, duplicating the previous none missing value downwards over 'limit' entries or a next non missing data point, alternatively 'bfill'

In [134]:
df.fillna(method = 'ffill', limit = 1).head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

You can make a polynomial interpolation

In [136]:
df.interpolate(method = 'polynomial', order = 2).head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

Or drop all rows with holes

In [137]:
df.dropna(axis = 0).head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

or drop all columsn with holes

In [138]:
df.dropna(axis = 1).head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

drop duplicates where the unique key is a subset of the features

In [141]:
df.drop_duplicates(subset = ['history_segment']).reset_index().head()

,index,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
3,4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
4,19,5,"6) $750 - $1,000",828.42,1,0,Surburban,1,Multichannel,Mens E-Mail,0,0,0.0,2

In [145]:
df.history_segment.unique()

array(['2) $100 - $200', '3) $200 - $350', '5) $500 - $750',
       '1) $0 - $100', '6) $750 - $1,000', '4) $350 - $500', '7) $1,000 +'], dtype=object)

In [146]:
df.history_segment.value_counts()

1) $0 - $100        22970
2) $100 - $200      14254
3) $200 - $350      12289
4) $350 - $500       6409
5) $500 - $750       4911
6) $750 - $1,000     1859
7) $1,000 +          1308
Name: history_segment, dtype: int64